.nfc-container {
    max-width: 1024px;
    padding: 5px;
    height: 728px;
    border: solid 1px #ddd;
    border-radius: 10px;
}

.wraper {
    display: block;
    margin: 0 auto;
}

.topo {
    background-color: #3276b1;
    height: 60px;
    color: #fff;
    text-align: center;
    padding-top: 9px;
    border-radius: 10px;
    margin-bottom: 15px;
}

    .topo h1 {
        margin: 0;
    }

.btns {
    width: 600px; /* Tamanho exato do btn-group.btn-group-lg */
}

.content {
    height: 528px;
    padding: 5px;
    color: #000;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    width: 994px;
}


